:root{
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: rgb(32, 34, 37);
  --background-modal: rgba(32, 34, 37, 0.6);
  --background-accent: #4f545c;
  --text-primary: #fff;
  --text-secondary: rgb(72, 210, 235);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --red: #E03E3E;
  --pink: #AD1A72;
  --yellow: #DFAB01;
  --green: #0F7B6C;
  --grey: #9B9A97;
  --brown: #64473A;
  --orange: #D9730D;
  --blue: #0B6E99;
  --purple: #6940A5;
  --pink: #AD1A72;
  --default: #37352F;
}
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-primary);
  overflow: hidden;
}
input{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
form{
  margin: 0;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.page-title{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
  color: var(--text-primary);
}
.page-sync{
  margin-left: 1em;
  color: var(--green);
  padding: 0.5em;
  border: 0.3em solid var(--green);
  border-radius: 10px;
  cursor: pointer;
  transition: background 150ms ease-in;
}
.page-sync:hover{
  background-color: var(--background-secondary-alt);
}
.page-sync:hover i{
  animation: spin 1.5s infinite cubic-bezier(0.74, 0.01, 0.28, 1);
}
.page-sync:active{
  background-color: var(--background-secondary);
}
.card-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 1em;
}
.card-column{
  background-color: var(--background-secondary);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.column-title, .modal-title{
  background-color: var(--background-secondary-alt);
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-primary);
  text-align: center;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.column-content{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  max-height: 80vh;
}
.card{
  width: 95%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  text-align: center;

  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 4px 5px 3px var(--background-tertiary);

  -o-transition: transform 100ms ease-out, border 100ms ease-out;
  -moz-transition: transform 100ms ease-out, border 100ms ease-out;
  -webkit-transition: transform 100ms ease-out, border 100ms ease-out;
  transition: transform 100ms ease-out, border 100ms ease-out;
}
.card:hover{
  transform: translate(0, -0.3em);
  border: 0.2em solid var(--grey) !important;
}
.card:active{
  border: 0.2em solid var(--interactive-hover) !important;
}
.card-to-do .card{
  border: 0.2em solid var(--red);
}
.card-doing .card{
  border: 0.2em solid var(--yellow);
}
.card-done .card{
  border: 0.2em solid var(--green);
}

.card-name{
  padding: 0.5em 0;
  border-radius: 10px;
  font-weight: bold;
}
.card-course{
  width: 95%;
  padding: 0.5em 0;
  background-color: var(--background-secondary);
  border-radius: 10px 10px 0 0;
  margin: auto;
  font-weight: bold;
  color: var(--text-secondary);
}
.card-deadline{
  width: 95%;
  padding: 0.5em 0;
  background-color: var(--background-secondary);
  margin: auto;
}
.card-add{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.3em 0;

  -o-transition: color 100ms ease-out;
  -moz-transition: color 100ms ease-out;
  -webkit-transition: color 100ms ease-out;
  transition: color 100ms ease-out;
  /* min-height: calc(2 * (0.5em + 0.5em + 0.5em + 0.5em) + 3em); */
}
.card:hover .card-add{
  color: var(--grey) !important;
}
.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--background-modal);
}
.modal-content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  background-color: var(--background-primary);
  left: 20%;
  top: 10%;
  width: 60vw;
  height: 80vh;
  box-shadow: 2px 4px 5px 3px var(--background-tertiary);
}
.modal-form{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
  font-weight: bold;
  font-size: 1.5em;
  box-sizing: border-box;
  justify-content: center;
  flex-grow: 0.5;
}
/* .form-title, .form-course{
  outline: none;
  border: none;
} */
.form-title, .form-course, .form-status, .form-date-start, .form-date-end, .form-submit{
  outline: none;
  border: none;
  margin: 0.7em 0;
  padding: 0.3em;
  min-width: 50%;
  max-width: 90%;
  font-size: 1em;
  border-radius: 20px;
  text-align: center;
}
.form-course option{
  padding: 0.1em;
}
.hidden{
  display: none;
}

/* Scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-tertiary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}