:root{
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --text-primary: #fff;
  --text-secondary: rgb(72, 210, 235);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --red: #E03E3E;
  --pink: #AD1A72;
  --yellow: #DFAB01;
  --green: #0F7B6C;
  --grey: #9B9A97;
  --brown: #64473A;
  --orange: #D9730D;
  --blue: #0B6E99;
  --purple: #6940A5;
  --pink: #AD1A72;
  --default: #37352F;
}
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background-primary);
}
a{
  text-decoration: none;
  color: inherit;
}
.page-title{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 0;
  color: var(--text-primary);
}
.card-container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-around; */
  gap: 1em;
}
.card-column{
  background-color: var(--background-secondary);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}
.column-title{
  background-color: var(--background-secondary-alt);
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-primary);
  text-align: center;
}
.card{
  width: 95%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  text-align: center;

  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 4px 5px 3px var(--background-tertiary);
  transition: transform 100ms ease-out, border 100ms ease-out;
}
.card:hover{
  transform: translate(0, -0.3em);
  border: 0.2em solid var(--grey) !important;
}
.card:active{
  border: 0.2em solid var(--interactive-hover) !important;
}
.card-to-do .card{
  border: 0.2em solid var(--red);
}
.card-doing .card{
  border: 0.2em solid var(--yellow);
}
.card-done .card{
  border: 0.2em solid var(--green);
}

.card-name{
  padding: 0.5em 0;
  border-radius: 10px;
  font-weight: bold;
}
.card-course{
  width: 95%;
  padding: 0.5em 0;
  background-color: var(--background-secondary);
  border-radius: 10px 10px 0 0;
  margin: auto;
  font-weight: bold;
  color: var(--text-secondary);
}
.card-deadline{
  width: 95%;
  padding: 0.5em 0;
  background-color: var(--background-secondary);
  margin: auto;
}